* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    @apply text-surface-50 bg-surface-900;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    width: 100%;
}

svg {
    font-size: 24px;
}

a {
    color: unset;
    font-style: normal;
    text-decoration: none;
}