:root {}

body,
html {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Inter', monospace;

}

.layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 1em;
    height: 100%;
}

aside {
    grid-column: 1 / span 1;
    overflow-y: auto;
    height: 100%;
}

main {
    grid-column: 2 / span 3;
    overflow-y: auto;
}