* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    @apply text-surface-50 bg-surface-900;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    padding: 0.5em;
    height: 100%;
    width: 100%;
}

.layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 0.5em;
    height: 100%;
}

aside {
    grid-column: 1 / span 1;
    overflow-y: auto;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 5;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    gap: 2em;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    width: 100%;
}

svg {
    font-size: 24px;
}

a {
    color: unset;
    font-style: normal;
    text-decoration: none;
}